<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/user.css">
  <title>홈</title>
<style>
    body{
      background-image: url("https://image.winudf.com/v2/image1/Y29tLmFqaW5mby53bG9zX3NjcmVlbl8wXzE2Mjk2OTEyMTNfMDg3/screen-0.webp?fakeurl=1&type=.webp")
    }
  </style>
</head>
<body>
    <div class="user">
        <% if (user) { %>
          <h2 id="user-info">
            <span id="user-name"><%= user.username %></span>
            <br>
            <span id="user-point"><%= user.point %>P</span>
          </h2>
          <span id="tools">
            <a href="/edit-profile" class="buttons">정보 수정</a>
            <button onclick="openSendPointsPopup()" class="buttons">포인트 전송</button>
            <a href="/logout" class="buttons">로그아웃</a>
          </span>
        <% } else { %>
          <span id="tools">
          <a href="/login" class="buttons">로그인</a> <a href="/register" class="buttons">회원가입</a>
          </span>
        <% } %>
        <div id="rank-table"></div>
        <a href="/rank-list" class="buttons">전체 순위표</a>
    </div>
    <div class="entry-container">
      <a href="/" class="entry">홈</a>
      <a href="/mine" class="entry">버튼</a>
      <a href="/table" class="entry">룰렛</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/user.js"></script>
</body>
</html>
