<!DOCTYPE html>
<html>

<head>
    <title>룰렛</title>
    <style>
        #canvas {
            height: 100%;
            width: 50%;
        }

        #startButton {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles/user.css">
</head>

<body>
    <div class="user">
        <% if (user) { %>
          <h2 id="user-info">
            <span id="user-name"><%= user.username %></span>
            <br>
            <span id="user-point"><%= user.point %>P</span>
          </h2>
          <span id="tools">
            <a href="/edit-profile" class="buttons">정보 수정</a>
            <button onclick="openSendPointsPopup()" class="buttons">포인트 전송</button>
            <a href="/logout" class="buttons">로그아웃</a>
          </span>
        <% } else { %>
          <span id="tools">
          <a href="/login" class="buttons">로그인</a> <a href="/register" class="buttons">회원가입</a>
          </span>
        <% } %>
        <div id="rank-table"></div>
        <a href="/rank-list" class="buttons">전체 순위표</a>
    </div>
    <div class="entry-container">
      <a href="/" class="entry">홈</a>
      <a href="/mine" class="entry">버튼</a>
      <a href="/table" class="entry">룰렛</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/user.js"></script>

    <div style="display: flex;">
        <canvas id="canvas" height="210%"></canvas>
        <button id="startButton">시작하기</button>
        <div>
            <h2>다음 : <span id="seconds"></span></h2>
            <input type="text" id="bet" placeholder="색이나 숫자 입력">
            <p>r:빨간칸 b:검은칸<br>숫자: 해당 숫자칸<br> 숫자,숫자: 2개부터 4개의 숫자에 분할 배팅</p>
            <input type="text" id="money" placeholder="금액">
            <p>색깔: 2배<br>숫자:1-36배 2-18배 3-12배 4-9배</p>
            <div class="chat">
                <h2>채팅</h2>
                <ul id="chat"></ul>
                <form id="form">
                <input id="input" type="text" maxlength="20" placeholder="최대 20자"/>
                <button>enter</button>
                </form>
                <script src="/socket.io/socket.io.js"></script>
                <script src="/script/table.js"></script>
            </div>
        </div>
    </div>
